h4 {
  color: var(--default-color)
}

:host {
  font-size: 12px;
  margin-left: 10px;
  color: var(--primary-color);
}

.table-section {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 3px;
  padding-left: 10px;
  background-color: var(--default-color);
}

.table-name {
  font-size: 14px;
  font-weight: bold;
}

.columns-label {
  margin-left: 10px;
}

.column-type {
  font-style: italic;
  color: var(--muted-color);
}
